.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1px;
  text-align: center;
  border-radius: 8px;
  width: 336px;
  height: 336px;
}

.card:hover {
  border: 1px solid var(--button-color1);
}

.card img {
  max-width: 150px;
  margin-bottom: 0.5rem;
}

.card h3 {
  color: var(--text-color1);
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
}

.card p {
  font-size: 15px;
  font-family: "Inter";
  font-weight: 500;
  background: #0000;
}
