<header>
  <section class="head">
    <img
      src="https://cdn.discordapp.com/attachments/1125892268138713201/1308079348498042921/bmlogo.png?ex=673df4d3&is=673ca353&hm=629300288816bf6e369d0148149813cdebcbaabff1617c98c9cc867157490d4a&"
      alt="Logo Burguer Mania"
      class="logo"
    />
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <nav class="lista" [class.active]="menuActive">
      <a routerLink="/">Início</a>
      <a routerLink="/cardapio">Categorias</a>
      <a routerLink="/cardapio-completo">Cardápio</a>
      <a routerLink="/">Localização</a>
      <a routerLink="/">Contato</a>
    </nav>
  </section>
</header>
