<header>
  <section class="head">
    <img
      src="https://cdn.discordapp.com/attachments/1125892268138713201/1308079348498042921/bmlogo.png?ex=673ca353&is=673b51d3&hm=cc942d7d53fd46914c1e4f9771538819bc5ec160191675e621f8f08a3b6f0980&"
      alt="a"
      class="logo"
    />
    <div>
      <nav class="lista">
        <a routerLink="/">Início</a>
        <a routerLink="/categoria">Categoria</a>
        <a routerLink="/cardapio">Cardápio</a>
        <a routerLink="/localizacao">Localização</a>
        <a routerLink="/contato">Contato</a>
      </nav>
    </div>
  </section>
</header>
