.input-container {
  margin-bottom: 1rem;
}

label {
  display: flex;
  font-weight: 600;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  color: var(--text-color1);
}

input {
  padding: 5px;
  border: 1px solid var(--border-color2);
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #ff0000;
}

.label {
  color: #ff0000;
  font-weight: bold;
}

.input-container.small input {
  width: 150px;
  height: 40px;
}

.input-container.medium input {
  width: 328px;
  height: 37px;
}

.input-container.large input {
  width: 732px;
  height: 175px;
}
