/* Estilo base para todos os botões */
button.button,
a.button {
  text-decoration: none;
  font-size: 23px;
  cursor: pointer;
  font-family: "Inter";
  font-weight: bold;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Botão Primário */
button.primary,
a.button.primary {
  font-family: "Inter";
  font-size: 23px;
  font-weight: bold;
  min-width: 246px;
  min-height: 56px;
  background-color: var(--button-color1);
  color: #ffff;
  border: none;
}

/* Botão Secundário */
button.secondary,
a.button.secondary {
  font-family: "Inter";
  font-size: 23px;
  font-weight: bold;
  min-width: 246px;
  min-height: 55px;
  background-color: var(--button-color2);
  color: var(--text-color1);
  border: 1px solid var(--text-color2);
}

/* Botão Terciário */
button.third,
a.button.third {
  font-family: "Inter";
  font-size: 23px;
  font-weight: bold;
  min-width: 404px;
  min-height: 74px;
  background-color: var(--button-color1);
  color: var(--text-color3);
  border: none;
}

/* Responsividade */

@media (max-width: 768px) {
  button.button,
  a.button {
    font-size: 20px;
    min-width: 200px;
    min-height: 50px;
  }

  button.third,
  a.button.third {
    min-width: 300px;
    min-height: 60px;
  }
}

@media (max-width: 480px) {
  button.button,
  a.button {
    font-size: 18px;
    min-width: 180px;
    min-height: 45px;
    padding: 10px;
  }

  button.third,
  a.button.third {
    min-width: 250px;
    min-height: 50px;
  }
}
