<app-header></app-header>

<div class="hero">
  <img
    src="https://cdn.discordapp.com/attachments/1125892268138713201/1308079417922162799/burguermain.png?ex=673df4e4&is=673ca364&hm=5c7d511e9e0e968806631b01271d4e6ca6b8f86281c1a080a4955870a6bf7cee&"
    alt="Burger Image"
    class="hero-image"
  />
  <div class="actions">
    <app-button
      [label]="'Fazer pedido'"
      [type]="'primary'"
      routerLink="/pedido"
    ></app-button>
    <app-button
      [label]="'Acessar cardápio'"
      [type]="'secondary'"
      routerLink="/cardapio"
    ></app-button>
  </div>
</div>
