<app-header></app-header>

<div class="menu-container">
  <h1>Categorias do Cardápio</h1>

  <!-- Grid de Categorias -->
  <div class="menu-grid">
    <app-card
      *ngFor="let category of categories$ | async"
      [title]="category.name"
      [description]="category.description"
      [image]="category.pathImage"
      (click)="viewCategory(category.id)"
    >
    </app-card>
  </div>

  <!-- Botão para Cardápio Completo -->
  <div class="actions">
    <app-button
      label="Ver Cardápio Completo"
      type="third"
      routerLink="/cardapio-completo"
    >
    </app-button>
  </div>
</div>
